body {
  font-family: "Roboto Mono", sans-serif;
  font-weight: 400;
  background: #1b2021;
  color: black;
  text-align: center;
}

h1 {
  color: #eac8af;
  font-weight: 800;
  font-size: 3rem;
  margin-bottom: 0px;
}

.pokedex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.entry {
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  min-width: 180px;
  font-weight: 600;
  letter-spacing: 1px;
  transition: all 100ms ease-in-out;
}

footer {
  color: grey;
  text-align: center;
  font-size: min(15px);
  padding: 15px;
}
